.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p{
color:aliceblue
}

a:link {
  color: white;
  text-decoration: none; /* Remover sublinhado padrão dos links */
}

a:visited {
  color: gray;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chart-item {
  background: rgb(27, 27, 27);
  padding: 10px;
  margin: 10px;
  max-width: 100%;
  flex: 1; /* Para ocupar o espaço disponível de maneira equitativa */
}

.chart-item-all {
  background: rgb(27, 27, 27);
  padding: 10px;
  margin: 10px;
  max-width: 100%;
  flex: 1; /* Para ocupar o espaço disponível de maneira equitativa */
}

/* Adicione regras de mídia para tornar responsivo */
@media (max-width: 500px) {
  .chart-item {
    max-width: 100%; 
  }
}
